/* COMMON */
body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #c7ecee;
}
#main{
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1180px; height: 800px;
    padding: 0 100px;
    background-color: rgba(255, 255, 255, .75);
    display: flex;
    justify-content: center;
}
section{
    width: 50%;
}
/* BUTTON */
.btn{
    height: 32px;
	padding: 0 8px;
	display: inline-flex;
    align-items: center;
	background-color: #dfe6e9;
	border: 1px solid #2d3436;
    border-radius: 5px;
    text-align: center;
	cursor: pointer;
}
.btn:hover{
	
}
/* INPUT */
.input{
	width: 400px;
	padding: 25px 10px 10px;
	background-color: transparent;
	border: none; border-bottom: 1px solid #2d3436;
	font-size: 18px; color: #2d3436;
	outline: none;
}
.input + p{
	position: absolute;
	top: 0px; left: 10px;
	transition: all 0.3s ease-in-out;
}
.input:focus + p{
	font-size: 13px;
}



/* TODO LIST */
.todo-list{
}
.todo-list > .list__title{
    margin: 80px 0 30px;
    font-family: 'Noto Sans KR';
    font-size: 50px; font-weight: 700; color: #2d3436;
}

.todo-list > .list__input{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    position: relative;
}
.todo-list .btn{
    margin: 15px 0 0 20px;
}

.todo-list > .list__list {
    margin-left: 30px;
}
.todo-list > .list__list li{
    margin-bottom: 24px;
    font-family: 'Noto Sans KR';
    font-size: 20px; font-weight: 500; color: #535c68;
    line-height: 1.2;
    cursor: pointer;
}

/* DAYS-INFO */
.days-info{
}
.days-info > .clock{
    margin-top: 50px; margin-left: 150px;
    font-family: 'Noto Sans KR';
    font-size: 110px; font-weight: 500; color: #2d3436;
    line-height: 1.1;
}